* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  background-color: #1d2b3a;
}

.container {
  text-align: center;
  border: 5px solid rgb(255, 255, 255) ;
  background-color: rgb(230, 255, 255);
  border-radius: 8px;
  max-width: 366px;
  margin-left: 500px;
  margin-top: 78px;
  height: 478px;
}

h2 {
  margin-top: 0px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 28px;
  padding-top: 30px;

  margin-bottom: 10px;
}

.input1 {
  padding: 9px;
  padding-right: 90px;
  border-radius: 7px;
  margin-right: -4px;
  outline: 0px;
  border: 1px solid grey;
  background: transparent;
  margin-top: 22px;
  color: black;
  box-shadow: rgb(153, 255, 255) 0px 10px 10px -5px;
}

.input2 {
  padding: 9px;
  padding-right: 90px;
  border-radius: 7px;
  margin-top: 22px;
  margin-right: -4px;
  outline: 0;
  border: 1px solid grey;  
  background: transparent;
  color: black;
  box-shadow: rgb(153, 255, 255) 0px 10px 10px -5px;
 
}

.inputBox span {
  position: absolute;
  left: 561px;
  margin-top: 33px;
  font-size: 12px;
  text-transform: uppercase;
  transition: .6s;
  letter-spacing: 1px;
}

.inputBox input:valid ~span,
.inputBox input:focus ~span {
  color: black;
  transform: translateX(10px) translateY(-20px);
  font-size: 0.66em;
  padding: 4px 10px;
  background-color: rgb(230, 255, 255);
  letter-spacing: 4px;
  color: #0ef;
}

.inputBox input:valid ,
.inputBox input:focus {
  border: 1px solid #0ef;
}

a {
  color: black;
  font-family: 'poppins', sans-serif;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  margin-left: 210px;
  margin-top: 9px;
  transition: .3s;
  letter-spacing: 1px;
}

a:hover {
  color: #0ef;
}

#myButton {
  background-color: blue;
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: -30px;
}

a:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

a:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.link1 {
  margin-top: 24px;
  margin-bottom: 50px;
}

h5 {
  color: grey;
  font-size: 11px;
  margin-top: 20px;
}

.social-account-container .social-accounts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 17px;
  margin-bottom: 50px;
}

.social-account-container .social-accounts .social-button {
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
  border: 5px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
  transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button .svg {
  fill: white;
  margin: auto;
}

.social-account-container .social-accounts .social-button:hover {
  transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
  transform: scale(0.9);
}


.name {
  color: #0ef;
  margin-top: -30px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: .4s;
}  

.name:hover {
  transform: scale(1.2);
}

#checkboxInput {
  display: none;
}

.toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: rgb(82, 82, 82);
  border-radius: 20px;
  cursor: pointer;
  transition-duration: .2s;
  margin-top: -299px;
  margin-left: 50px;
}

.toggleSwitch::after {
  content: "";
  position: absolute;
  height: 7px;
  width: 7px;
  left: 2px;
  background-color: transparent;
  border-radius: 50%;
  transition-duration: .2s;
  box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
  border: 5px solid white;
}

#checkboxInput:checked+.toggleSwitch::after {
  transform: translateX(100%);
  transition-duration: .2s;
  background-color: white;
}
/* Switch background change */
#checkboxInput:checked+.toggleSwitch {
  background-color: rgb(148, 118, 255);
  transition-duration: .2s;
}

h6 {
  font-size: 15px;
  margin-top: 20px;
  margin-right: 49px;
}

.account1 {
  font-size: 15px;
  margin-left: 250px;
  margin-top: -16px;
}

hr {
  margin-top: 28px;
}

.h6 {
    color: #0ef;
    font-size: 12px;
    margin-left: 48px;
}

.h6:hover {
  transform: scale(1.03);
}

.h6:active {
  transform: scale(0.95);
}